/* *{margin: 0;
padding: 0;
box-sizing: border-box;}
/* .maindiv{  
   display: flex;
   justify-content: space-evenly;
   align-items: center; 
   margin: 0px;
   padding: 0%;
   width: 100%;


/* } 
.maindiv{
    width: 100%;
    border:none;
    background-color:burlywood;

}
div:hover{opacity: 100%;}
body{
    background-color: beige;
}
div:hover{
    opacity: 100%;
}
img{
 width: 40%;
 height: auto;
 }

div{
    width:30%;
    border:1px solid black;
    display: inline-block;
    text-align:center;
    opacity: 100%;
}
h1{
    text-align: center;
    background:plum;
}
.child{
    border: 1px solid black;
    text-align: center;
    background-color:rgb(224, 212, 195);
    padding: auto;

}

 @media screen and(max-width:450px){
    .maindiv{
        display:flex; 
        justify-content: space-evenly;
        align-items: center;
    }
 }
 a{
    text-decoration: none;
    color: black;
    margin: 10px;
    border: 1px solid palevioletred;
    background-color: rgb(190, 30, 118);
    color: antiquewhite;
    padding: 12px 15px;
    border-radius: 24px;
    font-size: 15px;

 }
 a:hover{
    border: 1px salmon;
    background-color: black;
    color: palevioletred;

 }
p{
    margin-bottom: 20px;
 } 
  .positionrelative{ 
    position:relative;
   width: 100%;
   background-color: plum;
   height:100;
  } */ * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maindiv {
    width: 100%;
    border: none;
    background-color: burlywood;
}

div:hover {
    opacity: 100%;
}

body {
    background-color: beige;
}

img {
    width: 40%;
    height: auto;
}

div {
    
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    opacity: 100%;
}

h1 {
    text-align: center;
    background: plum;
}

.child {
    border: 1px solid black;
    text-align: center;
    background-color: rgb(224, 212, 195);
    padding: 10px; /* Use a specific value for padding */
}

@media screen and (max-width: 450px) {
    .maindiv {
        display: grid;
        justify-content: space-evenly;
        align-items: center;
    }
}

a {
    text-decoration: none;
    color: black;
    margin: 10px;
    border: 1px solid palevioletred;
    background-color: rgb(190, 30, 118);
    color: antiquewhite;
    padding: 12px 15px;
    border-radius: 24px;
    font-size: 15px;
}

a:hover {
    border: 1px salmon;
    background-color: black;
    color: palevioletred;
}

p {
    margin-bottom: 20px;
}
